# Configuration generated using the following versions of code:
# Python Script: config-gen-prod_ver1-5.py
# YAML: 93108-nxos-prod_ver1-5.yaml
# Jinja2 Template: 93108-template-prod-ver1-5.j2

hostname {{ hostname }}


{% if config_type == "full" %}
cfs eth distribute
!
no feature ssh
ssh key rsa 2048 force
feature tacacs+
no feature bash-shell
feature udld
feature interface-vlan
feature lacp
feature lldp
feature vpc
feature ssh
!
!
banner motd $
You are attempting to access a privately owned network
Any unauthorized access is strictly prohibited.
$
!
username admin password test role network-admin
!
!
ip domaine-name infra.acme.net
!
!
no ip domain-lookup
!
clock timezone gmt 0 0
!
line vty
  exec-timeout 60
line console
  exec-timeout 60
!
!
no hardware access-list update atomic
!
!TCAM SETTINGS
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
hardware access-list tcam region ing-racl 256
!
!
{% if oob_mgmt and oob_mgmt[0].ipv4_ipaddr %}
# OOB management configuration
interface mgmt0
  description {{ oob_mgmt[0].oob_mgmt_int_desc }}
  ip address {{ oob_mgmt[0].ipv4_ipaddr }}
  no shutdown
!
vrf context management
 ip domain-name infra.acme.net
 ip route 0.0.0.0/0 {{ oob_mgmt[0].ipv4_def_gw }}
!
{% else %}
!
# Inband Management Configuration
interface mgmt0
 description not_used_inband
 shutdown force
!
! MGMT Subnet: mgmt vlan -- mgmt subnet ipv4
!
interface vlan {{ inband_mgmt[0].mgmt_vlan }}
  description {{ inband_mgmt[0].description }}
  ip address {{ inband_mgmt[0].ipv4_ipaddr }}
  no shutdown
{% endif -%}
!
!SNMP
!
snmp-server community xxxxx group network-operator
snmp-server community xxxxx group network-admin
snmp-server location xxxxx
!
!
!
policy-map type qos QOS-IN
!
ip route 0.0.0.0/0 x.x.x.x
!
# VLAN configurations
{% for vlan in vlans %}
vlan {{ vlan.id }}
  name {{ vlan.name }}
{% endfor %}
!
!
!
{% elif config_type == "vlan" %}
# VLAN configurations
{% for vlan in vlans %}
vlan {{ vlan.id }}
  name {{ vlan.name }}
!
{% endfor %}
{% endif %}


################# INTERFACE CONFIGURATIONS ######################

{% for type, interfaces in interfaces.items() -%}
{%   if type == 'unused' -%}
########### {{ hostname }} UNUSED/PTD INTERFACES ################
{%     for interface in interfaces if interface.port -%}
{%       if 'fex' in interface %}
interface ethernet{{ interface.fex }}/1/{{ interface.port }}
{%       else %}
interface ethernet1/{{ interface.port }}
{%       endif %}  description UNUSED
  switchport
  switchport mode access
  switchport access vlan 999
  spanning-tree port type edge
  spanning-tree bpduguard enable
{%       if 'service-policy' in interface and interface['service-policy'] %}  service-policy type qos input {{ interface['service-policy'] }} no-stats
{%       endif %}  mtu 9216
  shutdown
  !
{%     endfor -%}
{%   elif type == 'uplinks' -%}
########### {{ hostname }} UPLINK/TRUNK INTERFACES ################
{%     for interface in interfaces if interface.port -%}
interface ethernet1/{{ interface.port }}
  description {{ interface.description }}
  switchport
  switchport mode trunk
  channel-group 7 force mode active
  no shutdown
!
{%     endfor -%}
{%     for interface in interfaces if interface.port_channel -%}
interface Port-channel7
  description {{ interface.description }}
  switchport
  switchport mode trunk
  switchport trunk native vlan {{ interface.native_vlan }}
  switchport trunk allowed vlan all
  mtu 9216
  no shutdown
!
{%     endfor -%}
!
!
!
{%   elif type == 'downlinks' -%}
########### {{ hostname }} DOWNLINK/PTU INTERFACES ################
{%     for interface in interfaces if interface.port -%}
{%       if 'fex' in interface %}
interface ethernet{{ interface.fex }}/1/{{ interface.port }}
{%       else %}
interface ethernet1/{{ interface.port }}
{%       endif %}  description {{ interface.description }}
  switchport
  switchport mode access
  switchport access vlan {{ interface.vlan }}
  spanning-tree port type edge
  spanning-tree bpduguard enable
{%       if 'service-policy' in interface and interface['service-policy'] %}  service-policy type qos input {{ interface['service-policy'] }} no-stats
{%       endif %}  mtu 9216
  no shutdown
  !
{%     endfor -%}
!
{%   elif type == 'consolePorts' -%}
{%     for interface in interfaces if interface.port -%}
#################### {{ interface.console_server }} console port Config ###################
cd /ports/serial_ports/{{ interface.port }}
set enable_cisco_rj45_pin-out={{ interface.cisco_pinout }}
set status=enabled
set speed=9600
set parity=none
set data_bits=8
set stop_bits=1
set flow_control=none
cd cas
set port_name={{ interface.hostname }}
set protocol=ssh
set authentication_type=tacacs+down_local
save
commit
{%     endfor -%}
{%   endif -%}
#{% endfor -%}



